@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  text-align: center;
  font-family: "Josefin Sans", "Montserrat Alternates";
}
a {
  color: #61dafb;
  transition: color 0.7s linear;
}

a:hover {
  color: #bef1ff
}
a:visited {
  color: #00c8ff;
}

a:visited:hover {
  color: #bef1ff
  
}

body {
  background-color: #282c34;
}
